name: CI/CD - Unittest Run

on:
  push:
    branches:
      - main

jobs:
  run-unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.x']

    steps:
      - name: Checkout code
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
      - uses: actions/checkout@v5
        with:
          python-version: ${{ matrix.python-version }}

      # Runs a set of commands using the runners shell
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Run Unittests (on ${{ matrix.os }})
        run: |
          python -m Unittest discover -v
